body{
    background-color: #dedede;
    font-family: arial;
}
header{
    padding: 20px;
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1% 10% 2%;
    text-align: center;
}
.table{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1% 10% 5%;
    text-align: center; 
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
.table-btn{
    margin: auto;
    padding: 10px;
}
.table{
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 2rem;
}
.thermometer{
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}
#thermo{
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    width: 70px;
}
.level{
    height: 10%;
    background-color: red;
}